
.app-container {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background: #444;
}

.piano-container {
  display: inline-flex;
  border-top: 10px solid blue;
}

.piano-natural-key {
  width: 50px;
  height: 180px;
  cursor: pointer;
  background: #fafafa;
  margin: 0 2px;
  color: #444;
  padding: 10px;
  border-radius: 0 0 3px 3px;
}

.piano-text {
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-size: 1rem;
}

.piano-natural-key-playing {
  border-bottom: 10px solid blue;
  color: blue;
}

.piano-accidental-key-wrapper {
  position: relative;
  width: 0;
}

.piano-accidental-key {
  position: absolute;
  cursor: pointer;
  background: #444;
  transform: translateX(-50%);
  width: 36px;
  height: 120px;
  border-radius: 0 0 3px 3px;
  border : 3px solid #444;
  border-top: none;
  padding: 5px;
  outline: none;
  color: #dbdbdd;
}